:root {
    --main-color:#6f42c1;
    --glass: rgba(255,255,255, 0.05);
 }

 body {
    color: #e0e0e0 !important;
    background: #000000!important;  
    font-family: 'Nunito Sans' !important;
    min-height: 100vh;
    overflow-x: hidden;
    }

 nav{
    background: var(--glass);
    border: rgba(128, 128, 128, 0.147) 1px solid;
    border-radius: 10px;
    max-width: 86vh;
    backdrop-filter: blur(90px);
    list-style: none;
    }

nav a {
    text-decoration:solid;
    color: white !important;
}

nav a:hover {
    color: #6f42c1 !important;
    border-bottom: #6710f269 solid 0.5px;
}

    .skillstext {
       background-color:#2310454d;
       color: #ad82ff !important;
       font-size: 0.82rem;
       border: solid #6e42c194 1px;
    }    


 .activebar {
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
    background-color: green;
    margin-right: 8px;
    position: relative; 
  }

 
  .activebar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: green;
    animation: pulse-ring 2s infinite;
    opacity: 0.7;
  }

  .activetext{
    color: rgba(7, 244, 90, 0.844) !important; 
    border-radius: 6px;
    font-size: 0.85rem;
    border: rgba(0, 128, 0, 0.397) 1px solid;
    background-color: rgba(0, 128, 0, 0.186);
  }

  @keyframes pulse-ring {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  .blob {
    position: fixed;
    width: 800px;
    height: 600px;
    background: radial-gradient(circle, rgba(110, 66, 193, 0.195) 0%, rgba(110, 66, 193, 0) 70%) !important;
    border-radius: 50%;
    z-index: -1;
}

.blob-1 {
    top: 35%;
    left: -20%;
      background: radial-gradient(circle, rgba(76, 0, 130, 0.228) 0%, rgba(75, 0, 130, 0) 70%);
}

.blob-2 {
    bottom: 30%;
    right: -20%;
    background: radial-gradient(circle, rgba(76, 0, 130, 0.329) 0%, rgba(75, 0, 130, 0) 70%);
}

.container-sm img {
    box-shadow: 0 0 70px rgba(168, 85, 247, 0.4)!important;  
}

h2, h3, .h5{
    color:#a866ff !important;
    text-align: center;
    font-family: "Lato" !important;
}

 .btn-purple {
    background-color: #6f42c1 !important;
    color: white !important;
    font-family: "Nunito Sans" !important;
    box-shadow: 0 4px 15px #641cec4a;
 }


 .btn-purple:hover {
   box-shadow: 0 0 30px #6f42c1;
}

.btn-white:hover {
    box-shadow: 0 0 30px white;
}


.col-6, .col-7{
  background: rgba(128, 128, 128, 0.132); /* Slight white tint */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: transform 0.3s ease;      
}

.col-6:hover, .col-7:hover {
    transform: translateY(-10px); /* Lift up on hover */
    border-color: #a855f7;
    background-color: #33098024;
}


.counter {
background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width:23vh !important;
    padding-top: 1vh;
    text-align: center;
}

#about, .back {
    background: var(--glass);
    border-radius: 30px;
    border: rgba(128, 128, 128, 0.147) 1px solid;
}

#bar {
    background-color: #6610f2;
    border-radius: 4px;
    height: 7px;
    width: 60px;
}

.form-control:focus {
    border: solid #6e42c1 1px !important;
    box-shadow: 0 0 5px #6e42c1 !important;
}

.form-control {
     background-color: rgba(0, 0, 0, 0.569) !important;
     color: white !important;
     
}

  textarea {
        height: 20vh;
        resize: none !important;
        border: rgba(128, 128, 128, 0.416) 1px solid !important;
    }

    input {
        border: rgba(128, 128, 128, 0.416) 1px solid !important;
    }

    
@media(max-width: 420px){

    .navbar-nav{
        justify-content: start !important;
        display: flex !important;
        flex-direction: row !important;
        width: 300px;
        padding: 10px;
        gap: 30px !important;
    }

    .nav-item {
        width: 10% !important; /* Ensures the link area is wide enough to center text */
    }

   
 .icone{
    width: 29%;
    float: right;
 }

 nav a:hover{
     border-bottom: #6710f264 solid 0.1px !important;
 }
}